In [1]:
import pandas as pd
import time
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
def save(df):
    ts = int(time.time())
    df.to_excel("./files/{}.xlsx".format(ts))
    print(str(ts)+".xlsx has been saved")

In [3]:
df = pd.read_csv("./data/sample.csv",delimiter=",",dtype=str)
print(df.shape)

(21098, 33)

# Polarity of Tweets from 2016 to 2021

In [34]:
def year_quarter(year,quarter):
    return str(year)+"_"+str(quarter)

In [35]:
temp = df.value_counts(subset=['vader_polarity'])
temp_df = pd.DataFrame(list(zip([t[0] for t in temp.index],list(temp.values))), columns = ["vader_polarity","count"])
temp_df.head()

  vader_polarity  count
0        Neutral  12984
1       Positive   5130
2       Negative   2984

In [31]:
df["year_quarter"] = df.apply(lambda row: year_quarter(row["year"] , row["quater"]), axis = 1)
temp = df.value_counts(subset=['year_quarter','vader_polarity'])
#temp_df = pd.DataFrame(list(zip([t[0] for t in temp.index],list(temp.values))), columns = ["year_quarter","count"])
save(pd.DataFrame(temp))

1697711072.xlsx has been saved

In [36]:
pd.DataFrame(temp).shape

(3, 1)

### Polarity During Peak Weeks

In [41]:
def year_week(year,wk):
    return str(year)+"_"+str(int(float(wk)))

df["year_week"] = df.apply(lambda row: year_week(row["year"] , row["week"]), axis = 1)
df.sample(3)

,id,tweet_id,username,followers_count,user_verified,text,created_at,like_count,retweet_count,reply_count,...,date,city,district,province,country,quater,weekday,tweet_lang,year_quarter,year_week
2609,18394,810949138728841217,ZMPolitics,5965.0,False,FATHER LEONARD CHITI TELLS BBC THAT PRESIDENT ...,2016-12-19 22:45:16+02,0.0,0.0,0.0,...,2016-12-19 22:45:16+02:00,NaN,NaN,NaN,Zambia,4,Monday,en,2016_4,2016_51
20223,72209,948810309808082949,ZambiaElections,37562.0,False,Qualifications and disqualifications for nomin...,2018-01-04 08:56:20+02:00,0.0,0.0,1.0,...,2018-01-04 08:56:20+02:00,Lusaka,Lusaka District,Lusaka Province,Zambia,1,Thursday,en,2018_1,2018_1
19146,71064,1076732772566384640,mahowa15,1265.0,False,@karidzaj @DebraWakanaka @MamoyoT @KristenMuwa...,2018-12-23 08:54:32+02:00,0.0,0.0,1.0,...,2018-12-23 08:54:32+02:00,NaN,NaN,NaN,NaN,4,Sunday,en,2018_4,2018_51

In [50]:
lst_dominant_weeks = ["2021_32","2016_51","2020_46"]
df_dominant_weeks = df.query("year_week == '2016_51' | year_week == '2020_46' | year_week == '2021_32'")
df_dominant_weeks.sample(5)

,id,tweet_id,username,followers_count,user_verified,text,created_at,like_count,retweet_count,reply_count,...,date,city,district,province,country,quater,weekday,tweet_lang,year_quarter,year_week
278,11117,1425421868744462345,MulusaProsper,7567.0,False,If your vote is a secrete you are most likely ...,2021-08-11 13:40:31+02,3.0,0.0,0.0,...,2021-08-11 13:40:31+02:00,NaN,NaN,NaN,Zambia,3,Wednesday,en,2021_3,2021_32
3899,11240,1425358917849264130,McTaju,1217.0,False,All the very best ba neighbour\n@tonytheegoon....,2021-08-11 09:30:22+02:00,2.0,1.0,1.0,...,2021-08-11 09:30:22+02:00,NaN,NaN,NaN,NaN,3,Wednesday,en,2021_3,2021_32
548,11421,1425088899307671553,DalisaniMwanza4,634.0,False,Noway we're picking a lawyer( Lungu) over an E...,2021-08-10 15:37:25+02,1.0,0.0,0.0,...,2021-08-10 15:37:25+02:00,NaN,NaN,NaN,NaN,3,Tuesday,en,2021_3,2021_32
4313,11695,1424602230749941761,Zichivhu,3347.0,False,Newspaper editors will have a field day here: ...,2021-08-09 07:23:34+02:00,4.0,2.0,1.0,...,2021-08-09 07:23:34+02:00,Oakland,Alameda County,CAL Fire Northern Region,United States,3,Monday,en,2021_3,2021_32
9824,61106,1424876370786717696,JaspinVee,1013.0,False,@ZambiaElections Such statement are lucking re...,2021-08-10 01:32:54+02:00,0.0,0.0,0.0,...,2021-08-10 01:32:54+02:00,Lusaka,Lusaka District,Lusaka Province,Zambia,3,Tuesday,en,2021_3,2021_32

In [51]:
temp = df_dominant_weeks.value_counts(subset=['year_week','vader_polarity'])
save(pd.DataFrame(temp))

1697714169.xlsx has been saved